TYPEORM_CONNECTION=postgres
TYPEORM_PORT=5432

TYPEORM_HOST=localhost
TYPEORM_DATABASE=el-castillo
TYPEORM_USERNAME=root
TYPEORM_PASSWORD=123456

TYPEORM_SYNCHRONIZE=true

# SSL_CERTIFICATE = ssl/moreno.gob.ar.cr
# SSL_KEY = ssl/moreno.gob.ar.key

MAILER_HOST=
MAILER_USER=
MAILER_PASS=

MULTER_DEST=./upload

JWT_SECRET=APABLOPERONILEGUSTAELPEPINILLO

WHATSAPP_TOKEN=your_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id

BASE_PUBLIC_URL=http://localhost:3000
